#root {
  text-align: center;
}
.content-container {
  border: 5px solid blue;
  display: flex;
  max-width: 100%;
}
.result-wrapper {
  margin: auto;
  border: 2px solid red;
  padding:3em;
  flex-grow: 1;
  max-width: 50%;
}



